<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="grizzly_ur10_kinect">
  <xacro:property name="reflect" value="-1" />

<xacro:include filename="$(find pr2_description)/urdf/sensors/kinect_camera.urdf.xacro"/>
<xacro:include filename="$(find pr2_description)/urdf/common.xacro"/>

<!-- Add kinect -->
<xacro:kinect_camera_v0 name="grizzly_ur10_kinect" parent="sensor_anchor_link">
    <origin xyz="0.9 0 0" rpy="0 0 0"/>
</xacro:kinect_camera_v0>


</robot>
