<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="grizzly_ur10_kinect">
  <xacro:property name="reflect" value="-1" />

<xacro:include filename="$(find pr2_description)/urdf/sensors/kinect_camera.gazebo.xacro"/>

<!-- Add the kinect frame to the grizzly_ur10 -->
<link name="grizzly_ur10_kinect_frame"/>
<link name="grizzly_ur10_kinect_optical_frame"/>

<!-- Kinect frame addition -->
<joint name="grizzly_ur10_kinect_frame_joint" type="fixed">
    <parent link="sensor_anchor_link"/>
    <child link="grizzly_ur10_kinect_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<!-- Optical frame addition -->
<joint name="grizzly_ur10_kinect_optical_frame_joint" type="fixed">
    <parent link="sensor_anchor_link"/>
    <child link="grizzly_ur10_kinect_optical_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<!-- Add the kinect to the grizzly_ur10 project. This macro looks for ${name}_frame as its target frame. -->
<xacro:kinect_camera_gazebo_v0 name="grizzly_ur10_kinect"/>



</robot>
