<?xml version="1.0"?>
<!--
Copyright (c) 2014, Clearpath Robotics
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:
    * Redistributions of source code must retain the above copyright
      notice, this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above copyright
      notice, this list of conditions and the following disclaimer in the
      documentation and/or other materials provided with the distribution.
    * Neither the name of Clearpath Robotics nor the
      names of its contributors may be used to endorse or promote products
      derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDERS BE LIABLE FOR ANY
DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

This program contains the description of the Grizzly + UR10 manipulator.
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="grizzly_ur10">
  <xacro:property name="reflect" value="-1" />

   <xacro:include filename="$(find ur_description)/urdf/gazebo.urdf.xacro" /> 
   <xacro:include filename="$(find robotiq_s_model_visualization)/cfg/s-model_articulated_macro.xacro"/>

  <!-- Spawn gripper -->
   <xacro:s-model_articulated prefix="robotiq_"/>

  <link name="robotiq_gripper_frame_link"/> 

  <joint name="robotiq_gripper_frame_joint" type="fixed">
      <parent link="ur10_arm_ee_link"/>
      <child link="robotiq_gripper_frame_link"/>
      <origin xyz="0 -0.1 0" rpy="1.57 0 1.57" />
  </joint> 

  <joint name="ee_joint" type="fixed">
      <parent link="robotiq_gripper_frame_link"/>
      <child link="robotiq_palm"/>
      <origin xyz="0.1 0 0" rpy="1.57 0 1.57" />
  </joint>

  <!-- Gazebo references to fix gripper collides 
<gazebo reference="robotiq_palm">
      <selfCollide>true</selfCollide>
  </gazebo>
<gazebo reference="robotiq_finger_middle_link_1">
      <selfCollide>true</selfCollide>
  </gazebo>
<gazebo reference="robotiq_finger_middle_link_2">
      <selfCollide>true</selfCollide>
  </gazebo>
<gazebo reference="robotiq_finger_middle_link_3">
      <selfCollide>true</selfCollide>
  </gazebo>
<gazebo reference="robotiq_finger_2_link_0">
      <selfCollide>true</selfCollide>
  </gazebo>
<gazebo reference="robotiq_finger_2_link_1">
      <selfCollide>true</selfCollide>
  </gazebo>	
<gazebo reference="robotiq_finger_2_link_2">
      <selfCollide>true</selfCollide>
  </gazebo>
<gazebo reference="robotiq_finger_2_link_3">
      <selfCollide>true</selfCollide>
  </gazebo>
<gazebo reference="robotiq_finger_1_link_0">
      <selfCollide>true</selfCollide>
  </gazebo>
<gazebo reference="robotiq_finger_1_link_1">
      <selfCollide>true</selfCollide>
  </gazebo>
<gazebo reference="robotiq_finger_1_link_2">
      <selfCollide>true</selfCollide>
  </gazebo>
<gazebo reference="robotiq_finger_1_link_3">
      <selfCollide>true</selfCollide>
  </gazebo> -->
</robot>
