<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="robotiq_gripper_transmission" params="prefix">

    <transmission name="robotiq_finger_1_joint_1_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="robotiq_finger_1_joint_1"/>
      <actuator name="robotiq_finger_1_joint_1_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  
    <transmission name="robotiq_finger_1_joint_2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="robotiq_finger_1_joint_2"/>
      <actuator name="robotiq_finger_1_joint_2_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>



 <transmission name="robotiq_finger_1_joint_3_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="robotiq_finger_1_joint_3"/>
      <actuator name="robotiq_finger_1_joint_3_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

 <transmission name="robotiq_finger_2_joint_1_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="robotiq_finger_2_joint_1"/>
      <actuator name="robotiq_finger_2_joint_1_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

 <transmission name="robotiq_finger_2_joint_2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="robotiq_finger_2_joint_2"/>
      <actuator name="robotiq_finger_2_joint_2_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

 <transmission name="robotiq_finger_2_joint_3_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="robotiq_finger_2_joint_3"/>
      <actuator name="robotiq_finger_2_joint_3_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

 <transmission name="robotiq_palm_finger_1_joint_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="robotiq_palm_finger_1_joint"/>
      <actuator name="robotiq_palm_finger_1_joint_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

 <transmission name="robotiq_palm_finger_2_joint_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="robotiq_palm_finger_2_joint"/>
      <actuator name="robotiq_palm_finger_2_joint_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

 <transmission name="robotiq_palm_finger_middle_joint_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="robotiq_palm_finger_middle_joint"/>
      <actuator name="robotiq_palm_finger_middle_joint_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

 <transmission name="robotiq_finger_middle_joint_1_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="robotiq_finger_middle_joint_1"/>
      <actuator name="robotiq_finger_middle_joint_1_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

 <transmission name="robotiq_finger_middle_joint_2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="robotiq_finger_middle_joint_2"/>
      <actuator name="robotiq_finger_middle_joint_2_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

 <transmission name="robotiq_finger_middle_joint_3_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="robotiq_finger_middle_joint_3"/>
      <actuator name="robotiq_finger_middle_joint_3_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  
  </xacro:macro>

</robot>
