<launch>

    <arg name="description"/>
    <param name="use_sim_time" value="true" />
    
    <param name="robot_description" value="$(arg description)"/>

    <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description
              -urdf
              -z 0.2
              -model robot_description"
        respawn="false" output="screen"/>

    <!-- Start RSP --> 
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value=""/>
    </node>

</launch>
